@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Bitter:400);

html,body {
	height:100%;
    /*background:center no-repeat fixed url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/BGRA0KYCD8.jpg');*/
    /*background:center no-repeat fixed url('../media/wallpapers/22.jpg');*/
    background-size: cover;
    color:#444;
    font-family: 'Acid-bold' !important;
    font-size: 100%;
}

@media (min-width:768px) {
    h1 {
        font-size:68px;
    }
    h2{
      font-size: 35px;
    }
}


.container {
    margin-top: 20px;
}

/* Carousel Styles */
.carousel-indicators .active {
    background-color: black;
}

.carousel-inner img {
    width: 100%;
    height: 500px;
    max-height: 550px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
  opacity: 1;
  filter: alpha(opacity=100);
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none;
}

.carousel-control.left span {
  padding: 15px;
}

.carousel-control.right span {
  padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
  background-color: #000;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 0%;
    left: 0%;
    right: auto;
    width: 20%;
    /*height: 20%;*/
    /*border:1px solid white;*/
    background:rgba(0,0,0,0.2);
    margin:2%;
    color: #fff;
    padding: 1%;
    border-radius: 5px;
}

.header-text:hover{
  background:rgba(0,0,0,0.8);
}

.header-text img{
  max-height:100px;
  margin-left: 10%;
  margin-right: 10%;
}
.header-text h2 {
    font-size: 130%;
    font-family: 'Nixie';
    font-weight: bolder;
    /*text-align: left;*/
}

.header-text .btn_header{
  /*font-size: 80%;*/
  width:100%;
}

.header-text span {
    /*background-color: rgb(255,255,255);*/
    /*color: black;*/
    font-family: 'Nixie';
    /*margin-left: 2%;*/
    /*padding: 2%;*/
  /*padding: 10px;*/
}

.header-text h3 span {
  background-color: #000;
  padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}



.nav{
  height:50px;
  /*padding-top: 5px !important;*/
  font-family: 'Nixie' !important;
  color: white;
}

.category_content{
  background-color: white;
}
.navbar-right{
  font-size: 85% !important;
}
.landing_a{
  font-size: 1.5em;
  padding:1%;
  margin: 1%;
  background-color: #bdc3c7;
  color:#444;
  border-radius: 5px;
}

.landing_a:hover{
  text-decoration: none;
  color:#444;
  background-color: white;
}
.navbar{
  /*height: 10% !important;*/
}


.nospace{
  padding:0px;
  margin:0px;
}

.landing_content{
  margin-top: 5%;
}
.navbar-collapse{
  padding-bottom: 5px !important;
  background-color: black;
}
.brand-div img{
  width: 70%;
}
.brand-div a{
  margin:0 auto;
  width:100%;
  background-color: black;
}

.brand-div img{
  margin:0 auto;
}


.newbanner{
  background-color: white;
  padding-top:2%;
  /*background-image: url('../images/arrowdown.png');*/
  /*background-size: 2% 25%;*/
  /*background-repeat: no-repeat;*/
  /*background-position: 50% 90%;*/
  /*height:100px;*/
  /*letter-spacing: 5px;*/
  font-family: 'Nixie';
  font-size: 150%;
  /*font-weight: bolder;*/
}

.newbanner span{
  font-size: 200%;
  font-family: 'Nixie' !important;
}

.newbanner p{
  /*width:35%;
  margin:0 auto;
  padding-top: 4%;
  font-family: 'Acid' !important;
  font-family: normal;
  line-height: 0.9;
  font-size: 120%;*/
}

.bannerspacer{
  background-color: white;
  height:20px;
  border-bottom: 5px solid black;
}
.container-nofull{
  /*padding-left: 5% !important;*/
  /*padding-right: 5% !important;*/
  background-image: url('../images/bg.png');
  background-color: white;
  margin-bottom: 0px;padding:0px;

}

.category_desc{
  background:rgba(0,0,0,0.4);
  /*border-radius: 5px;*/
  padding: 5%;
}

.category_filters{
  background-color: black;
  min-height:50px;
  color:white;
  padding-top: 0.5%;
  font-size: 120%;
  font-family: 'Nixie';
  white-space: nowrap;
  /*font-weight: bolder;*/
}

.category_filters span{
  cursor: pointer;
  text-transform: lowercase;
}
.category_filters span:hover{
  padding-bottom: 10px;
  background-color: black !important;
  background:
    linear-gradient(
      to left, 
      rgb(66,255,231) 0%,
      rgb(70,255,224) 12%,
      rgb(92,252,166) 47%,
      rgb(147,244,23) 100%
    )
    left 
    bottom
    #777    
    no-repeat; 
  background-size:100% 5px ;
}

.category_filters span.active{
  padding-bottom: 10px;
  background-color: black !important;
  background:
    linear-gradient(
      to left, 
      rgb(66,255,231) 0%,
      rgb(70,255,224) 12%,
      rgb(92,252,166) 47%,
      rgb(147,244,23) 100%
    )
    left 
    bottom
    #777    
    no-repeat; 
  background-size:100% 5px ;
}

.category_users{
  /*height:50%;*/
  background:rgba(255,255,255,0.8);
  padding: 5%;
}

.category_user_div .user_image img{
  height:100px;
  width:100px;
}

.category_user_div a{
  text-decoration: none;
}
.category_user_div .title{
  margin-top: 4%;
  /*padding-left: 3%;*/
  font-family: 'Nixie';
  color:black;
  margin-bottom: 0px;
  font-size: 120%;
  /*font-weight: bold;*/
  text-decoration: none;
}

.category_user_div .title:hover{
  text-decoration: non;
  font-weight: bolder;
}

.user_images_carousal{

}

.user_images_carousal .carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}

.user_images_carousal .carousel-control {
  left: -12px;
}
.user_images_carousal .carousel-control.right {
  right: -12px;
}

.user_images_carousal .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}

.user_images_carousal .carousel-indicators li {
  background: #c0c0c0;
}

.user_images_carousal .carousel-indicators .active {
background: #333333;
}



.category_user_div .category{
  margin-top: -5px;
  /*padding-left: 3%;*/
  font-family: 'Nixie';
  color:black;
  font-size: 100%;
  /*font-weight: bold;*/
}


.category_users .btn_follow{
  margin-top: 75%;
  width:125%;
}

.btn_follow{
  background:transparent;
  border:1px solid black;
  
}

.btn_follow:hover{
  background:black;
  color:white;
}


.btn-lg{
  width: 20% !important;
  font-size: 150% !important;
}

.likeBTN{
  color:black;
}


.imagecaption-xs{
  
}


.btn{
  font-size: 100%;
}

.nopadding{
  padding: 0px;
}

.nomargin{
  margin: 0px;
}


.luckysigns_btn{
  cursor: pointer;
}

.luckysigns_div{
  display: none;
  /*padding-top: 5%;*/
}

.luckysigns_div img{
  margin:0 auto;
  height:50px;
}

.luckysigns_div .text-center{
  margin-top: 3%;
  font-family: 'Acid';
  font-size: 150%;
  color: #d2d2d2;
  font-weight: bolder;
}

.fa-arrow-circle-up{
  cursor: pointer;
}

.fa-arrow-circle-up:hover{
  color:black;
}

.luckysigns_div .row{
  margin-top: 10%;
}

.user_profile{
  margin-top:12.6%;
  background:rgba(255,255,255,0.8);
  padding: 2%;
  padding-left: 15%;
}


.user_info{
  padding-left: 5%;
  padding-top: 7%;
}

.bio_section{
  border-right: 2px solid black;
}
.bio_section h2{
  font-family: 'Nixie';
}
.bio_section p{
  font-family: 'Acid-bold';
}

.contacts_section{
  /*padding-top: 5%;*/
}
.contacts_section img{
  width:50% !important;
  height: 35px !important;
  margin-bottom: 20%;
}


.badge{
  background-color: white !important;
  color: black;
}

.badge:hover{
  background-color: white !important;
  color: black;
}


.fivesub{
  /*margin-right: 55px;*/
}
.fivesub span{
  font-size: 80% !important;
  line-height: 1;
  /*white-space: nowrap;*/
}
.user_title{
  padding-top: 5%;
  padding-left: 5%;
}
.user_title h2{
  font-family: 'Nixie';
  font-size: 420%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.user_title span{
  padding-left:1%;
  font-size: 120%;
}

.user_profile img{
  height:200px;
  width: 300px;
}


.unfollowBTN{
  background-color: black !important;
  color:white;
}

.unfollowBTN:hover{
  background-color: white !important;
  color:black !important;
  content:'follow';
}
.user_profile .follow_button{
  background-color: white;
  border:1px solid black;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 40%;
}

.user_profile .follow_button:hover{
  background-color: black;
  color:white;
}

@font-face {
  font-family: 'Acid';

  src: url('../fonts/acid.otf');
  /*src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');*/
}

@font-face {
  font-family: 'Acid-bold';

  src: url('../fonts/acid_bold.otf');
  /*src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');*/
}

@font-face {
  font-family: 'Acid_medium';

  src: url('../fonts/acid_medium.otf');
  /*src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');*/
}


@font-face {
  font-family: 'Nixie';

  src: url('../fonts/NixieOne.ttf');
  /*src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');*/
}

.user-info .fa{
  line-height: 1.5em;
}

.user-info{
  border-right: 1px solid white;
  padding-left: 2%;
  height: 120px;
}

.user-info span{
  color: white;
}

p{
  /*font-family: 'Acid-bold', sans-serif !important;*/
}

span{
  /*font-family: 'Acid-bold', sans-serif !important;*/
}
a {
    color:#27ae60;
    /*font-family: 'Acid-bold', sans-serif !important;*/
    /*font-family: 'Nixie' !important;*/

}

a:hover {
    color:#999;
}

.likes_div{
  background-color: white !important;
  color:#999;
  height:100%;
  text-align: center;
  border:1px solid #cdcdcd;
}

.myanchor{
  font-size: 130% !important;
  color:#999;
}

.btn,.well,.panel {
    border-radius:0;
}

.btn-danger {
    background-color:#27ae60;
}

.text-danger, a.text-danger {
    color:#27ae60;
}

.btn-huge {
    padding:17px 22px;
    font-size:22px;
}

.lato {
    font-family: 'Lato', sans-serif;
}


.btn-main{
  background-color: #27ae60;
  border:none;
  color:white !important;
}
.btn-main:hover{
  background-color: #2ecc71;
}



.imagecaption {
        min-width:50%;
        top:0;
        right:0;
        position: absolute;
        background-color: rgba(255,255,255,0.8);
        text-align: center;
        color: black;
        font-family:'Nixie';
        /*font:300 1em Josefin Sans,Arial,Helvetica !important;*/
}


.imagecaption h4{
  width: auto;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin:0px;

}

.imagecaption_hover{
  background-color: rgba(255,255,255,0.2);
  padding-top: 10%;
  display: none;

        /*width:100%;*/
}

.imagecaption_hover a{
  text-decoration: none;
  color: black;
}
.imagecaption_hover span{
  text-align: center;
  padding-bottom: 5%;
  font-family: 'Nixie' !important;
  display: block;
  letter-spacing: 1px;
  font-size: 80%;
  cursor: pointer;
}

.imagecaption_hover span:hover{
  font-weight: bolder;
}

.header_input{
  background-color: black;
  color: white;
}

.xs_logo{
  margin-top: 30%;
}

.about_desc{
  color:#777;
}
.social i{
  padding: 4%;
  margin-right: 4%;
  font-size: 100%;
  margin-top: 2%;
}

.footer_social a{
  color:white;
}

@media (max-width: 1200px) {
    body{font:300 13px/13px Roboto,Arial,Helvetica;}
    
    .grid figure h2{font: 700 1.5em Roboto,Arial,Helvetica;}
    figure.effect-oscar figcaption{padding: 12%;}
    figure.effect-oscar figcaption::before,figure.effect-chico figcaption::before{top: 20px;right: 20px;bottom: 20px;left: 20px;}

}

@media (max-width: 900px) {
    h1{font: 700 3.5em Roboto,Arial,Helvetica;}
    /*h2{font: 700 1.5em Roboto,Arial,Helvetica;}*/
    h4 {font: 300 1.3em Roboto,Arial,Helvetica;}
    .btn{padding: 1em 2em;}
    figure.effect-chico figcaption {padding: 2em;}  
    figure.effect-oscar figcaption {padding: 20%;}
    figure.effect-chico figcaption::before{top: 10px;right: 10px;bottom: 10px;left: 10px;}
    .grid figure.effect-chico p{font-size: 0.6em;line-height: 1.5em;}
    .btn-lg{width: 100% !important;margin-bottom: 1%;}
      .p-large{
                font-size: 150% !important;
                line-height: 1.5;
              }   
}


.mobile_nav{
  background-color: black;
  padding-left: 5%;
}

.mobile_nav a{
  background-color: black !important;
}

.mobile_nav button{
  margin-left:50%;
}

@media (max-width: 767px) {
    body{/*font:300 12px/12px Roboto,Arial,Helvetica;*/}

    .banner .caption,.carousel-caption,.carousel-control,.carousel-indicators{display: none;}

    h2{text-align: left;font-size: 2.5em !important;}
    h4 {font: 300 1.2em Roboto,Arial,Helvetica;}
    

    .spacer{padding:2em 0 ;}
    .grid.team div{margin: 0;padding: 0;}
    figure.effect-chico figcaption {padding: 1.5em;}
    .footer{padding-bottom: 2em;}


    .newbanner{
      padding-top: 10%;
      padding-bottom: 5%;
    }

    .about_sub{
      padding-top: 5%;
      line-height: 1em;
    }

    .about_desc{
      font-size: 2em;
      line-height: 0.8em;
      font-weight: normal;
      font-family: 'Acid';
      padding-bottom: 5%;
    }

    .landing_social{
      width:90% !important;
      margin-left:15%;
    }

    .sub_category_div{
      margin-bottom: 4%;
      margin-left: 2%;
    }
    .category_filters{
      min-height: 80px;
      padding-top: 2%;
    }

    .category_user_div_name p{
      margin-bottom: 3% !important;
    }

    .usermediacontent{
      border:1px solid white;
    }

    .nav{
      height: auto;
    }

    .wide-container{
      width: 100%;
      overflow: hidden;
    }
}




.bitter {
    font-family: 'Bitter', serif;
}

.icon-bar {
	background-color:#fff;
}


.nav-dropdown{
  color: black !important;
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}

.p-large{
  font-size: 100%;
  line-height: 1.5;
}


.navbar-nav{
  /*background-color: black;*/
  /*border-bottom-right-radius: -50px;*/
}
.navbar-nav>li>.dropdown-menu { 
  width: 300px;
  background-color: #ecf0f1; 
}
.btn-fb:hover{
    color: #fff;
    /*background-color:#496ebc */
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.navbar-trans {
	/*background-color:#2b2b2b;*/
  /*background-color: black;*/
  background: transparent;
  z-index: 3;
    color:#cdcdcd;
    border-width:0;
}

.wide-container{
  /*padding-left:10px;*/
  /*padding-right:10px;*/
  /*font-size: 120%;*/
  /*padding-top: 3px;*/
}

.user-circle-small{
  height:25px !important;
  width:25px !important;
}


.small-line-height
{
  line-height: 1;
}


.myanchor{
  text-decoration: none !important;
}

.myanchor:hover{
  color:#27ae60;
}
.user-media{
  padding: 0px;
  margin:0px;
}

.single_media_div{
  padding-right:0.3%;
  padding-top: 0.3%;
  background-color: white;
}



.imageModal .modal-dialog
{
  width: 100%;
}

.imageModal .modal-header{
  /*min-height: 20%;*/
}

.imageModal .modal-dialog,
.imageModal .modal-content {
    /* 80% of window height */
    height: 100%;
    background-color: black;
    color: white !important;
    margin:0px !important;
    overflow: hidden;
}

.imageModal .modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(98% - 100px);
    overflow-y: hidden;
}

body.modal-open {
    overflow: hidden;
}

.imageModal .heart_div{
  /*width:100%*/
  /*margin-left:40%;*/
  /*height:auto;*/
  min-height: 20px;
  color: white;
  /*padding-top: 7%;*/
  /*text-align: center;*/
  background-image: url('../images/heart.png');
  background-repeat:no-repeat;
background-size:contain;
background-position:center;
  /*background-size: 100% 100%;*/
  /*border:1px solid red;*/
}


.mythumbnail {border:none;background:none;margin-bottom:1px;}


.single_media_div_info{
  position: absolute;
  top:10%;
  width:98%;
  height:20%;
  padding-left:4%;
  padding-top: 2%;
  cursor:pointer;
  /*background:rgba(0,0,0,0.7);*/
}

.heart_img{
  height:20px;
  width: 20px !important;
}

.a_nostyle{
  color:white;
}

.a_nostyle:hover{
  text-decoration: none;
  color:white;
}

.usermediacontent .heart_div{
  width:10%;
  height:40px;
  color: white;
  padding-top: 2%;
  text-align: center;
  background-image: url('../images/heart.png');
  background-size: 100% 100%;
}



.heart_div:hover{
  color: black;
}

.unlike{
  background-image: url('../images/heart.png');
}

.unlike:hover{
  background-image: url('../images/heart_fill.png');
}

.like{
  background-image: url('../images/heart_fill.png');
}

.like:hover{
  background-image: url('../images/heart.png');
}




.user-media img{
  width:100%;
  /*height:100px;*/
  /*cursor: zoom-in;*/
  /*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  transition: all .2s ease-in-out;*/
  max-width: 100%;
}

.media-item img{
  width:100%;
  height:auto;
  cursor: zoom-in;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
  transition: all .2s ease-in-out;
  max-width: 100%;
  border-radius: 3px;
}

.imagediv{
  max-width: 100%;
  overflow: hidden;
}

.user-info{
  color:#cdcdcd;
}

.user-headline{
  font-size: 400%;
}
.user-media img:hover{
  filter: none;
  -webkit-filter: grayscale(0%);
  /*/transform: scale(1.1);*/
}

.bold{
  font-weight: bolder;
}

.one-user-div:hover{
  /*border:1px solid #27ae60;*/
  background-color: #eaeaea;
  /*background: rgba(0,0,0,0.1);*/
}

.one-user-div:hover img{
  /*border:1px solid #27ae60;*/
   filter: none;
  -webkit-filter: grayscale(0%);
  /*background: rgba(0,0,0,0.1);*/
}

.one-user-div{
  padding: 2%;
  color:#cdcdcd;
  border:1px solid #cdcdcd;
  /*height:325px !important;*/
  height:auto;
  border-radius: 10px;
}

.one-media-div:hover{
  /*border:1px solid #27ae60;*/
  background-color: #eaeaea;
}
.one-media-div:hover img{
  /*border:1px solid #27ae60;*/
  filter: none;
  -webkit-filter: grayscale(0%);
}

.one-media-div{
  padding: 2%;
  border-radius: 10px;
  color:#cdcdcd;
  border:1px solid #cdcdcd;
}

.one-media-div img{
  width:100%;
   filter: none;
  -webkit-filter: grayscale(0%);
}

.content{
  padding-top: 2%;
  background-color: rgba(255,255,255,0.9);
  /*background-color: #f6f6f6;*/

}
.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
    padding: 14px;
    color:#27ae60;
}

.navbar-trans li>a:focus,.navbar-trans li.active {
	
  background: transparent;
  text-decoration: none;
	color:white !important;
  background:
    linear-gradient(
      to left, 
      rgb(66,255,231) 0%,
      rgb(70,255,224) 12%,
      rgb(92,252,166) 47%,
      rgb(147,244,23) 100%
    )
    left 
    bottom
    #777    
    no-repeat; 
  background-size:100% 5px ;
}

.headerBtn_ul li>a{
  padding-right: 40%;
}

li.active a{
  background-color:black !important;
  text-decoration: none;
  padding-bottom:15px;
  background:
    linear-gradient(
      to left, 
      rgb(66,255,231) 0%,
      rgb(70,255,224) 12%,
      rgb(92,252,166) 47%,
      rgb(147,244,23) 100%
    )
    left 
    bottom
    #777    
    no-repeat; 
  background-size:100% 5px ;
}


.fallback{
  font-size: 70%;
  text-align: center;
  width: 100%;
  color: white;
}

.navbar li a:hover{
  /*border-bottom: 4px solid green;*/
  background-color:black !important;
  color:white;
  padding-bottom:15px;
  background:
    linear-gradient(
      to left, 
      rgb(66,255,231) 0%,
      rgb(70,255,224) 12%,
      rgb(92,252,166) 47%,
      rgb(147,244,23) 100%
    )
    left 
    bottom
    #777    
    no-repeat; 
  background-size:100% 5px ;
}
.navbar-trans li>a:hover {
  /* #43ffe5 */
  /* #89f730 */
  /*text-decoration: none;*/
  /*border-bottom:5px solid #27ae60;*/
  /*background: transparent;*/

  /*background: #27ae60; 
  background: -webkit-linear-gradient(left, #43ffe5 , #89f730); 
  background: -o-linear-gradient(right, #43ffe5, #89f730); 
  background: -moz-linear-gradient(right, #43ffe5, #89f730); 
  background: linear-gradient(to right, #43ffe5 , #89f730); */
	/*opacity:0.8;*/
}

.navbar-trans a{
    color: white;
    font-size: 110%;
}

.navbar-trans .form-control:focus {
	border-color: #eee;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  display: block;
  padding: 7px;
  text-align: center;
  z-index:-1
}

.scroll-up {
  position: fixed;
  display: none;
  z-index: 999;
  bottom: 2em;
  right: 2em;
}


.white{
  background-color: white;
}
.scroll-up a {
  background-color: rgba(135, 135, 135, 0.5);
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

.category_image{
  /*height:350px;*/
  width:200px;
}


.header-md{
  font-family: 'Nixie' !important;
  font-size: 180%;
  font-weight: normal;
}

.section-white-content{
  background-color: white;padding:0px;margin:0px;width:100%;
  /*min-height: 700px;*/
  /*min-height:calc(100% - 0);*/
  width:80%;
  margin:0 auto;
  padding-top: 2%;
}
section {
	/*padding-top:70px;  */
  padding-bottom:50px;
  min-height:100%;
  min-height:calc(100% - 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@media (min-width:768px) {
    .v-center {
        height: 50%;
        overflow: visible;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }
}

.followBTN{
  color:black;
}

.form-control{
  border:2.5px solid black;
  border-radius: 0px;
  font-size: 120%;
  color: black !important;
  text-transform: uppercase;
}

.btn_event{
  padding-bottom: 30px;
}
.btn_event:hover{
  background-color: black;
  color: white !important;
}
  

nav {background:#FFF;float:left;}
nav ul {text-align:center;}
nav ul li {float:left;display:inline;}
nav ul li a {display:block;padding:15px 25px;color:#444;}
nav ul li ul {position:absolute;width:200px;background:black;}
nav ul li .userdropdown {position:absolute;width:200px;background:#2b2b2b;right:10;}
nav ul li ul li {width:200px !important;}
nav ul li ul li a {display:block;padding:15px 0px;color:#444;}
nav ul li ul li:hover a {background:#F7F7F7;text-decoration: none;}
nav ul li ul.fallback {display:none;}
nav ul li:hover ul.fallback {display:block;padding-left: 0px;}

#landing {
	background-color: rgba(0,0,0,0.5) !important;
  background-image: url('../media/wallpapers/tmp2.jpg');background-position: 0%;background-size: 100%; 
  color:#fff;
  background-size: cover;
  /*background-position: 50%;*/

  /*font-family: 'Bitter', serif;*/
}

#landing h1{letter-spacing: 5px;}
#landing h2{letter-spacing: 1px;}

#section1{
  background-color: rgba(0,0,0,0.7);
  /*background-image: url('../media/wallpapers/22.jpg');background-size: 130%;*/
  background-position: 0%; 
  color:#fff;
  /*font-family: 'Bitter', serif;*/
}

#follower_section{
  background-color: rgba(0,0,0,0.7);
  color:#fff;
  /*font-family: 'Bitter', serif;*/
}
  
#contact {
	background-color: #f6f6f6;
	color:#444;
}
  
#about {
	background-color: #fff;
  /*background-color: rgba(0,0,0,0.1);*/
}

#signup {
  background-color: #fff;
  /*background-color: rgba(0,0,0,0.1);*/
}

#section3 {
	background-color: rgba(0,0,0,0.9);
}

#section5 {
	background-color: #fff;
}

#section6 {
    background-color: #eee;
	min-height:130px;
	padding-top:40px;
	padding-bottom:40px;
}

#section7 {
  /*background: #27ae60;
  background: -webkit-linear-gradient(left, #43ffe5 , #89f730); 
  background: -o-linear-gradient(right, #43ffe5, #89f730); 
  background: -moz-linear-gradient(right, #43ffe5, #89f730); 
  background: linear-gradient(to right, #43ffe5 , #89f730);*/
  background-color: black;
	/*color: #f6f6f6;*/
	min-height:130px;
	padding-top:40px;
	padding-bottom:40px;
}

#section7 img{
  width: 70%;
}


.search{
    position: relative;
}

.big_header{
  font-size: 110%;
}

.header_link_div{
  margin-top: 1%;
  /*margin-left: 2%;*/
}

.left_header_content a{
  font-family: 'Nixie';
  /*margin-top: 20%;*/
  font-size: 100%;
}

.header_hover a:hover{
  text-decoration: none;
}

.header_hover a:active{
  text-decoration: none !important;
}

.categories_header_link a:hover{
  text-decoration: none;
}
.categories_header_link a:active{
  text-decoration: none;
}

.navbar .btn_header{
  font-size: 104%;
}
.sub_category{
  position: absolute;
  left:30%;
  top:81.5%;
  /*height:50px;*/
  /*height:auto;*/
  width: 30%;
  background-color: black !important;
  padding-top: 5%;
  padding-left: 2%;
  display: none;
  background:
    linear-gradient(
      to left, 
      rgb(66,255,231) 0%,
      rgb(70,255,224) 12%,
      rgb(92,252,166) 47%,
      rgb(147,244,23) 100%
    )
    left 
    top
    #777    
    no-repeat; 
  background-size:100% 5px ;
  
}
.sub_category a:hover{
  text-decoration: none;
  font-weight: bolder;

}
.sub_category div{
  margin-bottom:12%;
  font-size: 80%;
  text-align: left;
  padding-left: 8%;
}


.header_hover{
  text-decoration: none !important;
}
.header_hover:hover{
  text-decoration: none;
  background-color: transparent !important;
  padding-bottom: 15px;
  padding-top: 0px;
  background:
    linear-gradient(
      to left, 
      rgb(66,255,231) 0%,
      rgb(70,255,224) 12%,
      rgb(92,252,166) 47%,
      rgb(147,244,23) 100%
    )
    left 
    bottom
    #777    
    no-repeat; 
  background-size:100% 5px ;
}


.search input{
  background-color: transparent;
  border: 2px solid white;
  border-right: none;
  border-radius: 0px;
  padding-right: 30px;
  padding-left: 5px;
  color: white;
  width: 130%;
  /*height: 100%;*/
}
.search .circle{
    background-color: black;
    position: absolute;
    right: -45px;
    height: 34px;
    top: 0px;
    width: 35px;
    border-radius: 50%;
    border: 4px solid white;
    cursor: pointer;
}

#arrow_left
{
    background-color: transparent;
    position: absolute;
    /*left: 41%;*/
    /*height: 38%;*/
    /*top: 52.8%;*/
    width: 40px;
    border-radius: 38%;
    border-left: 11px solid black;
}

#arrow_right
{
    background-color: transparent;
    position: absolute;
    right: 41%;
    /*height: 38%;*/
    /*top: 52.8%;*/
    width: 40px;
    border-radius: 38%;
    border-right: 11px solid black;
}

.landing_btns{
  position: absolute;
  margin-bottom: 2%;
  bottom:0;
  right:0%;
  /*height:5%;*/
  width: 25%;
}

.landing_social{
  position: absolute;
  margin-bottom: 2%;
  bottom:0;
  /*margin:0 auto;*/
  left:5%;
  /*height:5%;*/
  width: 40%;
}

.landing_social img{
  height:35px;
}

.landing_social a{
  color:white;
}

.search .line{
    position: absolute;
    right: -38px;
    top: 18px;
    height: 25px;
    border: 3px solid white;
    -moz-transform: skew(45deg);
    -webkit-transform: skew(45deg);
    transform: skew(45deg);
}

.btn_header:hover{
  background-color: white;
  color:black !important;
}
.btn_header{
  background-color: black;
  color:white !important;
  border:2px solid white;
  font-size: 120%;
  /*height:100% !important;*/
  width: 100%;
  /*height:50% !important;*/
  /*margin-top: -1px;*/
  /*margin-bottom: 6px;*/
  /*line-height: 0.5;*/
  text-transform: lowercase;
  font-family: 'Acid-bold';
}

footer {
	background-color:white;
    color:black;
    /*min-height:100px;*/
    padding-top:10px;
    /*padding-bottom:40px;*/
}

footer .nav>li>a {
    padding: 3px;
    color: #27ae60;
}

footer .nav>li>a:hover {
    background-color:transparent;
	color:#fff;
}


@media (max-width: 1200px) {
  body{font:300 13px/13px Roboto,Arial,Helvetica;}
  
  .grid figure h2{font: 700 1.5em Roboto,Arial,Helvetica;}
  figure.effect-oscar figcaption{padding: 12%;}
  figure.effect-oscar figcaption::before,figure.effect-chico figcaption::before{top: 20px;right: 20px;bottom: 20px;left: 20px;}

}




@media (max-width: 900px) {
  h1{font: 700 2.5em Roboto,Arial,Helvetica;}
  h4 {font: 300 1.3em Roboto,Arial,Helvetica;}
  .btn{padding: 1em 2em;}
  figure.effect-chico figcaption {padding: 2em;}  
  figure.effect-oscar figcaption {padding: 20%;}
  figure.effect-chico figcaption::before{top: 10px;right: 10px;bottom: 10px;left: 10px;}
  .grid figure.effect-chico p{font-size: 0.6em;line-height: 1.5em;} 
}


@media (max-width: 767px) {
  body{font:300 12px/12px Roboto,Arial,Helvetica;}

  .banner .caption,.carousel-caption,.carousel-control,.carousel-indicators{display: none;}

  h2{text-align: left;}
  h4 {font: 300 1.2em Roboto,Arial,Helvetica;}
  
  /*.fish{
    width:100px;
  }*/

  .lucky{
    width:90px !important;
    height:60px !important;
  }
  .spacer{padding:2em 0 ;}
  .grid.team div{margin: 0;padding: 0;}
  figure.effect-chico figcaption {padding: 1.5em;}
  .footer{padding-bottom: 2em;}
}